.inner
{
    margin-top: 64px;

    & .top
    {

        display: flex;
        align-items: center;
        justify-content: space-between;

        & h1
        {
            color: white;
            opacity: 0.8;
            
            font-size: 36px;
        }

        & p
        {
            font-size: 14px;
            font-weight: 500; 
            color: rgba($color: #fff, $alpha: 0.8);

            padding: 10px 20px;
            background-color: rgba($color: #fff, $alpha: 0.4);
            border-radius: 999px;

            cursor: pointer;
        }

    }


    & .horizontal
    {

        display: flex;
        align-items: flex-start;
        margin-top: 64px;

        & .left
        {
    
            display: flex;
            flex-direction: column;
    
            flex: 2;
    
            & .video
            {
                width: 100%;
                height: 25vw;
    
                background-color: rgba(80, 80, 80, 1);
                border-radius: 10px;
    
                display: flex;
                align-items: center;
                justify-content: center;

                & button
                {
                    outline: none;
                    border: none;

                    width: 150px;
                    height: 50px;
                    
                    background-color: rgba(255, 255, 255, 0.4);
                    border-radius: 10px;

                    font-size: 15px;
                    font-weight: 600;
                    color: rgba(255, 255, 255, 0.8);

                    cursor: pointer;
                }
            }

            & .title
            {

                margin-top: 45px;
                width: 100%;
                height: 50px;

                outline: none;
                border: none;

                background-color: rgba(80, 80, 80, 1);
                border-radius: 10px;

                font-size: 15px;
                font-weight: 500;
                color: rgba(255, 255, 255, 0.8);

                padding: 0 25px;

            }

            & .description
            {

                margin-top: 25px;
                width: 100%;
                height: 250px;

                outline: none;
                border: none;

                background-color: rgba(80, 80, 80, 1);
                border-radius: 10px;

                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 15px;
                font-weight: 500;
                color: rgba(255, 255, 255, 0.8);

                padding: 25px;

            }
    
        }
    
        & .right
        {
            flex: 1;
            margin-left: 35px;

            & button
            {

                border: none;
                outline: none;

                width: 100%;
                height: 50px;

                background-color: rgba(80, 80, 80, 1);
                border-radius: 10px;

                font-size: 15px;
                font-weight: 600;
                color: rgba(255, 255, 255, 0.8);

                cursor: pointer;

            }

        }

    }


}