<div class="container">
    <app-navbar-back></app-navbar-back>

    <form action="#" (ngSubmit)="clickedDone()">

        <div class="inner">
            <div class="top">
                <h1>Add Custom Video</h1>
                <p (click)="clickedDone()">{{ doneButton }}</p>
            </div>
    
            <div class="horizontal">

                <div class="left">
                    <div class="video">
                        <button type="button" (click)="videoInput.click()">{{ video != null ? video!.name:'Upload Video' }}</button>
                        <input type="file" name="video" #videoInput (change)="onVideoInput(videoInput.files)" hidden accept="video/*">
                    </div>
        
                    <input type="text" class="title" placeholder="Title..." name="title" id="title" [(ngModel)]="title"
                    onkeydown="return event.key != 'Enter';">
                    <textarea class="description" name="description" id="description" cols="30" rows="10" placeholder="Description..." [(ngModel)]="description"></textarea>
                </div>
        
                <div class="right">
                    <button type="button" (click)="thumbnailInput.click()">{{ thumbnail != null ? thumbnail!.name:'Add Thumbnail' }}</button>
                    <input type="file" name="thumbnail" #thumbnailInput (change)="onThumbnailInput(thumbnailInput.files)" hidden accept="image/*">
                </div>

            </div>
    
        </div>

    </form>

</div>