<div class="container">
    
    <app-navbar></app-navbar>

    <!-- VIDEOS -->
    <div class="videos">

        <div *ngFor="let collection of collections" [ngSwitch]="collection.type" class="">
            
            <div class="row" *ngSwitchCase="'one'">
                <app-large-video [video]="collection.videos[0]"></app-large-video>
            </div>

            <div class="row double" *ngSwitchCase="'two'">
                <app-small-video [video]="collection.videos[0]"></app-small-video>
                <app-small-video [video]="collection.videos[1]"></app-small-video>
            </div>

            <div class="row" *ngSwitchCase="'threeleft'">
                <app-medium-video [video]="collection.videos[0]"></app-medium-video>
                <div class="side">
                    <app-small-video [video]="collection.videos[1]"></app-small-video>
                    <app-small-video [video]="collection.videos[2]"></app-small-video>
                </div>
            </div>

            <div class="row" *ngSwitchCase="'threeright'">
                <div class="side right">
                    <app-small-video [video]="collection.videos[0]"></app-small-video>
                    <app-small-video [video]="collection.videos[1]"></app-small-video>
                </div>
                <app-medium-video [video]="collection.videos[2]"></app-medium-video>
            </div>

            <div class="row" *ngSwitchDefault>
            </div>

        </div>

    </div>
    <!-- VIDEOS END -->

</div>