.container
{
    flex-direction: column !important;
}


.videos
{

    margin-top: 64px;

    .row
    {
        margin-bottom: 35px;
        display: flex;
    }

    .side
    {
        flex: 1;
        margin-left: 35px;

        display: flex;
        flex-direction: column;

        & :nth-child(1)
        {
            align-self: flex-start;
        }
        & :nth-child(2)
        {
            align-self: flex-end;
            margin-top: 35px;
        }
    }

}

.right
{
    margin-left: 0px !important;
    margin-right: 35px !important;
}

.three
{
    & :nth-child(2)
    {
        margin: 0 35px;
    }
}

.double
{
    height: 20vw;

    & :nth-child(2)
    {
        margin-left: 35px;
    }
}