.inner
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 96px;

    & h1
    {
        color: white;
        opacity: 0.8;
        
        font-size: 36px;
    }

    & .menu
    {

        cursor: pointer;

        & img:nth-child(1)
        {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 999px;
    
            box-shadow: 0 0 25px rgba(0, 0, 0, .16);

            transition: .3s ease;
        }

    }
    
}