<div class="inner">
    <h1>Welcome, Back!</h1>
    <div class="menu">
        <img src="http://localhost:8080/m/imgs/75/{{ username }}.png" alt="Profile Picture" (click)="showMenu()">
    </div>
</div>