.outer
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 100vh;

    background: rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(10px);


    & .inner
    {
        
        & p
        {
            
            width: 300px;
            height: 65px;
            border-radius: 10px;

            background: rgba(40, 40, 40, 1);

            box-shadow: 0 0 25px rgba(0, 0, 0, 0.16);

            margin: 15px 0;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 16px;
            font-weight: 600;
            color: rgba(255, 255, 255, 0.6);

            cursor: pointer;

            transition: .3s ease;

        }

        & p:hover
        {
            background: rgba($color: #fff, $alpha: 0.6);
            color: rgba($color: #000, $alpha: 0.6);
        }

    }

}