<div class="outer" (click)="clickedClose()">
    <div class="inner">
        <p (click)="clickedAddYoutube()">Add Youtube Video</p>
        <p (click)="clickedAddCustom()">Add Custom Video</p>
        <p (click)="clickedLogout()">Logout</p>
        <p (click)="clickedClose()" style="margin-top: 50px;">Close</p>
    </div>
</div>