<div class="container">
    
    <app-navbar-back></app-navbar-back>

    <div class="outer-video" *ngIf="video != null">

        <div class="video">

            <!-- YOUTUBE -->
            <iframe width="100%" height="100%" *ngIf="video!.isYoutube" frameborder="0" [src]="iframeUrl | safe" allowfullscreen></iframe>

            <!-- CUSTOM -->
            <video *ngIf="!video!.isYoutube" id="video-player" class="video-js vjs-big-play-centered" controls poster="{{ imageUrl }}"></video>
            
        </div>
    
        <div class="information">
    
            <div class="title">
                <a href="">
                    <h4>{{ video!.title }}</h4>
                </a>
                <img src="/assets/icons/heart.svg" alt="">
            </div>
    
            <div class="channel">
                <p>by <span>{{ video!.username }}</span></p>
            </div>
    
            <div class="description">
                <h6>Description</h6>
                <pre>{{ video!.description }}</pre>
            </div>
    
        </div>

    </div>

</div>