.video
{

    width: 100%;
    
    border-radius: 10px;
    
    & img
    {
        width: 100%;
        height: 100%;
        
        object-fit: fill;
        border-radius: 10px;
    }
    
    & iframe
    {
        height: 40vw;
        width: 100%;

        object-fit: fill;
        border-radius: 10px;
    }

    & video
    {
        width: 100%;
        height: 100%;

        object-fit: fill;
        border-radius: 10px;
    }

    box-shadow: 0 0 25px rgba(0, 0, 0, .16);
    
    margin-top: 64px;

}

.information
{

    width: 96%;
    margin: 0 auto;

    & .title
    {

        display: flex;
        align-items: center;
        justify-content: space-between;
    
        & h4
        {
            font-size: 22px;
            font-weight: 600;
        
            color: white;
            opacity: 0.8;
        }

        & img
        {
            width: 45px;
            height: 45px;
            
            object-fit: cover;

            padding: 14px;

            background-color: rgba(80, 80, 80, 1);
            border-radius: 999px;

            opacity: 0.6;
        }

    }

    & .channel
    {
        margin-top: 25px;

        & p
        {
            font-size: 16px;
            font-weight: 500;

            color: white;
            opacity: 0.6;

            & span
            {
                font-weight: 600;
            }
        }

    }

    & .description
    {
        margin-top: 65px;

        & h6
        {
            font-size: 20px;
            font-weight: 600;

            color: white;
            opacity: 0.6;
        }

        & pre
        {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: white;
            opacity: 0.4;

            margin-top: 25px;
        }

    }

    margin-top: 35px;

}