<div>
    
<ngx-file-drop
(onFileDrop)="dropped($event)" 
(onFileOver)="fileOver($event)" 
(onFileLeave)="fileLeave($event)">
    
<ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
    
    <!-- MAIN -->
    <router-outlet></router-outlet>
    
    <!-- MENU -->
    <app-menu-page *ngIf="menu"></app-menu-page>
    
    <!-- LOGIN AND REGISTER -->
    <app-login-page *ngIf="!loggedIn"></app-login-page>

</ng-template>

</ngx-file-drop>

</div>
