.video
{

    width: 100%;
    height: 100%;

    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

    padding: 25px;

    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .16);
    
    display: flex;
    align-items: flex-end;
    
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 600;

    cursor: pointer;
    transition: .3s ease;

    margin-bottom: 0;
}

.video:hover
{
    color: rgba(255, 255, 255, 0);
}