<div class="video"
[ngStyle]="{ 'background': imageUrl === '' ? 'linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%), url()' : 'linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%), url(' + imageUrl + ')' }"
(click)="clicked()">
    <h4>{{ video.title }}</h4>
</div>