<div class="inner">
    <div class="left" (click)="goBack()">
        <img src="/assets/icons/arrow-left.svg" alt="Back Arrow">
        <p>Back</p>
    </div>
    <div class="menu">
        <img src="http://localhost:8080/m/imgs/75/{{ username }}.png" alt="Profile Picture" (click)="showMenu()">
    </div>
</div>