.inner
{
    margin-top: 64px;

    & .top
    {

        display: flex;
        align-items: center;
        justify-content: space-between;

        & h1
        {
            color: white;
            opacity: 0.8;
            
            font-size: 36px;
        }

        & p
        {
            font-size: 14px;
            font-weight: 500; 
            color: rgba($color: #fff, $alpha: 0.8);

            padding: 10px 20px;
            background-color: rgba($color: #fff, $alpha: 0.4);
            border-radius: 999px;

            cursor: pointer;
        }

    }

    & .bottom
    {

        margin-top: 48px;

        & input
        {
            outline: none;
            border: none;

            width: 500px;
            height: 55px;

            background-color: rgba(80, 80, 80, 1);
            border-radius: 10px;

            font-size: 14px;
            font-weight: 600;
            color: rgba(255, 255, 255, 0.8);

            padding: 0 25px;
        }


        & img
        {
            width: 100%;
            height: 45vw;

            object-fit: cover;
            border-radius: 10px;

            box-shadow: 0 0 25px rgba(0, 0, 0, 0.16);
            
            margin-top: 96px;
        }

        & h2
        {
            font-size: 24px;
            font-weight: 600;
            color: rgba(255, 255, 255, 0.8);
            margin-top: 32px;
        }

        & pre
        {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: rgba(255, 255, 255, 0.6);

            margin-top: 32px;

            white-space: pre-wrap;       /* Since CSS 2.1 */
            white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
            white-space: -pre-wrap;      /* Opera 4-6 */
            white-space: -o-pre-wrap;    /* Opera 7 */
            word-wrap: break-word;       /* Internet Explorer 5.5+ */
        }

    }
   
}