<div class="container">
    <app-navbar-back></app-navbar-back>
    
    <div class="inner">
        <div class="top">
            <h1>Add Youtube Video</h1>
            <p (click)="clickedDone()">{{ doneButton }}</p>
        </div>
        <div class="bottom">
            <input type="text" placeholder="Youtube Link..." name="youtubeLink" [(ngModel)]="youtubeLink" (input)="changeOfInputField()">

            <a *ngIf="imageUrl != ''" href="{{ youtubeLink }}"><img src="{{ imageUrl }}" alt=""></a>
            <h2>{{ title }}</h2>
            <pre>{{ description }}</pre>
        </div>
    </div>

</div>