// GENERAL
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: rgba(40, 40, 40, 1);
}

html
{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: rgba(40, 40, 40, 1);
}

a{
    text-decoration: none;
}
// GENERAL END


// CONTAINER
.container
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
}

app-large-video
{
    flex: 1;
    width: 100%;
}
app-medium-video
{
    flex: 2;
    width: 100%;
}
app-small-video
{
    flex: 1;
    width: 100%;
}
// CONTAINER END


// PRE
pre
{

    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */

}
// PRE END


// DROP AREA
.ngx-file-drop__drop-zone
{
    border: none !important;
    border-radius: 0px !important;
    height: 100% !important;
    width: 100% !important;
}
.ngx-file-drop__content
{
    color: rgba(0, 0, 0, 0) !important;
    height: 100% !important;
    width: 100% !important;

    align-items: inherit !important;
    justify-content: inherit !important;
    display: inherit !important;
}
// DROP AREA END


// VIDEO PLAYER DESIGN

.video-js
{
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 10px;
}

.video-js .vjs-control-bar
{
    background-color: rgba(0, 0, 0, 0) !important;
}

.video-js .vjs-big-play-button
{
    border: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.video-js .vjs-tech
{
    border-radius: 10px 10px 0 0;
}

.vjs-poster
{
    border-radius: 10px 10px 0 0;
}

// VIDEO PLAYER DESIGN END
