.inner
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px);

    flex-direction: column;

    & form
    {
        display: flex;
        flex-direction: column;

        align-items: center;

        & input
        {
            outline: none;
            border: none;

            color: rgba(255, 255, 255, 0.8);
            font-size: 16px;
            font-weight: 500;

            width: 300px;
            height: 65px;
            border-radius: 10px;

            background-color: rgba(80, 80, 80, 1);

            box-shadow: 0 0 25px rgba(0, 0, 0, 0.16);

            margin-bottom: 15px;
            padding: 0 20px;
        }

        & button
        {
            outline: none;
            border: none;

            color: rgba(255, 255, 255, 0.8);
            font-size: 18px;
            font-weight: 500;

            width: 300px;
            height: 65px;
            border-radius: 10px;

            background-color: #959CE6;

            box-shadow: 0 0 25px rgba(0, 0, 0, 0.16);

            margin-top: 15px;
            padding: 0 20px;

            cursor: pointer;
        }

        & .upload
        {
            background-color: rgba(80, 80, 80, 1) !important;
            color: rgba(255, 255, 255, 0.8) !important;
            font-size: 16px !important;
            font-weight: 500 !important;
            margin-top: 0 !important;
            margin-bottom: 15px !important;
        }

    }


    & a
    {
        text-decoration: none;
        color: white;

        color: rgba(255, 255, 255, 0.6);
        font-size: 18px;
        font-weight: 500;

        position: absolute;
        bottom: 5%;
        
        cursor: pointer;
    }

    & p
    {
        color: rgba(255, 255, 255, 0.4);
        font-size: 14px;
        font-weight: 500;

        margin: 15px 0;
    }

}



.all
{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;

    background-color: rgba(40, 40, 40, 1);

    overflow-y: hidden;
}