<div class="all">
    <div class="container">
        <div class="inner">

            <form action="#" (ngSubmit)="submitLogin()" *ngIf="!showRegister">
                <input type="text" name="username" id="username" placeholder="Username..." [(ngModel)]="username">
                <input type="password" name="password" id="password" placeholder="Password..." [(ngModel)]="password">
    
                <p *ngIf="errorMessage != ''">{{ errorMessage }}</p>
    
                <button type="submit">Login</button>
            </form>

            <form action="#" (ngSubmit)="submitRegister()" *ngIf="showRegister">
                <input type="text" name="username" id="username" placeholder="Username..." [(ngModel)]="username">
                <input type="password" name="password" id="password" placeholder="Password..." [(ngModel)]="password">
                <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password..." [(ngModel)]="confirmPassword">
                
                <button type="button" (click)="inputPicture.click()" class="upload">{{ profilePicture != null ? profilePicture!.name:'Upload Profile Picture' }}</button>
                <input type="file" name="profilePicture" #inputPicture (change)="onProfilePictureInput(inputPicture.files)" hidden accept="image/*">
    
                <p *ngIf="errorMessage != ''">{{ errorMessage }}</p>
    
                <button type="submit">Register</button>
            </form>

            <a (click)="bottomButton()">{{ showRegister ? 'Login':'Register' }}</a>
            
        </div>
    </div>
</div>